/* page styling */ 

body{
    background-color: black;
    color: seashell;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    opacity: 0.9;
}

a{
    text-decoration: underline;
    color: seashell;
    padding-left: 20px;
}

span{
    background-color: black;
}

/* header styling */

header{
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 5;
    height: 69px;
    width: 100%;
    border-bottom: solid 1px seashell;
}

.tea-cozy-logo {
    display: flex;
    flex-grow: 1;
}

.tea-cozy-logo img{
    height: 50px;
    padding-left: 10px;
}

nav{
    padding-right: 30px;
}

/* mission section styling */

.mission{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
}

.background.image{
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
}

.image{
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 1200px;
    text-align: center;
    justify-content: center;
}