/* page styling */ 

body{
    background-color: black;
    color: seashell;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    opacity: 0.9;
    margin: 0;
}

a{
    text-decoration: underline;
    color: seashell;
    padding-left: 20px;
}

span{
    background-color: black;
}

p{
    text-align: center;
}

/* header styling */

header{
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 5;
    height: 69px;
    width: 100%;
    border-bottom: solid 1px seashell;
    background-color: black;
}

.tea-cozy-logo {
    display: flex;
    flex-grow: 1;
}

.tea-cozy-logo img{
    height: 50px;
    padding-left: 10px;
}

nav{
    padding-right: 30px;
}

/* mission section styling */

.mission{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 69px;
}

.background.image{
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
}

.image{
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 1200px;
    text-align: center;
    justify-content: center;
}

/* tea of the month section styling */

.tea-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    margin: 0 auto 0 auto;
}

.tea-month{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
}

.steeping{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.steeping:first-child{
    margin-left: 0px;
}

.product, .product-name{
    display: flex;
    flex-direction: column;
}

.product img{
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
}